.generate-pdf-btn {
  background-color: #28a745;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.generate-pdf-btn:hover {
  background-color: #ffffff;
  border: 2px solid #28a745;
  color: #28a745;
}

/* Add Order Button */
.add-order-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-order-btn:hover {
  background-color: #218838;
}

/* Edit Button */
.edit-btn {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.edit-btn:hover {
  background-color: #0056b3;
}

/* Delete Button */
.delete-btn {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333;
}